<h2>Pridať predstavenia do sekcie: <%= @section.name %></h2>

<div class="above-table">
  <h3>Predstavenia</h3>
</div>

<% if @events.any? %>
  
<table cellpadding="0" cellspacing="0" width="100%" class="sortable" id="stages-list">
  <tr>
    <th>Názov</th>
    <th></th>
  </tr>

  <% @events.each do |event| %>
    <tr class="<%= cycle("even","odd") %>" data-event-id="<%= event.id %>">
      <td><%= event.title %></td>
      <td>
        <%= link_to 'Pridať do sekcie', add_event_section_path(@section, event.id), method: :post, remote: true, class: 'add-event' %>
      </td>
    </tr>
  <% end %>
</table>

<% else %>

  <p>Žiadne predstavenia, ktoré by sa ešte dali pridať do tejto sekcie.</p>

<% end %>