<h2>Správa programu pre scénu: <%= @stage.name %></h2>

<h3>Predstavenia</h3>

<table cellpadding="0" cellspacing="0" width="100%" class="sortable" id="stages-list">
  <tr>
    <th>Názov</th>
    <th></th>
  </tr>

  <% @events.each do |event| %>
    <tr class="<%= cycle("even","odd") %>">
      <td><%= event.title %></td>
      <td>
        <%= link_to 'Zobraziť detaily', event %>
        <%= link_to 'Upraviť', edit_event_path(event) %>
        <%= link_to 'Zmazať', event, confirm: 'Naozaj chcete zmazať toto predstavenie?', method: :delete %>
      </td>
    </tr>
  <% end %>
</table>