<% content_for :header do %>
  <div class="ui-bar ui-bar-b">
    <h2><%= formated_date(@event_dates.first.date) %></h2>
    <div style="position:absolute;right:5px;top:0;">
      <%= select_tag "stage_filter", options_for_select(@provider_stages.map{|s| [s.name, s.id]}, params[:stage]), :prompt => "Všetky sály", 'data-theme' => 'e' %>
    </div>
  </div>
<% end %>

<ul data-role="listview" data-filter="true" data-filter-placeholder="Hľadať film podľa názvu..." data-theme="a" data-divider-theme="d">
  <% @event_dates.each do |ed| %>
    <li data-role="list-divider"><%= ed.datetime.strftime("%H:%M") %></li>
    <% ed.events_on_datetime(@selected_stage_id).each do |event| %>
    <li>
      <a href="<%= jqm_event_path(event) %>" title="Detaily predstavenia">
        <h3><%= event.title %></h3>
        <% unless event.orig_title.blank? %>
        <p><strong><%= event.orig_title %></strong></p>
        <% end %>
        <% unless event.info.blank? %>
        <p><%= event.info %></p>
        <% end %>
        <p class="ui-li-aside"><strong><%= event.stage.name %></strong></p>
      </a>
    </li>
    <% end %>
  <% end %>
</ul>

<script type="text/javascript">
  $('#stage_filter').change(function(){
    var stage_id = $(this).val();
    var redirect_url = '<%= jqm_day_url(params[:date]) %>';
    if (stage_id!=='') {
      redirect_url += '/' + stage_id;
    }
    window.location.href = redirect_url;
  });
</script>