<h2>Scény</h2>

<table cellpadding="0" cellspacing="0" width="100%" class="sortable" id="stages-list">
  <tr>
    <th>Názov</th>
    <th></th>
  </tr>

<% @stages.each do |stage| %>
  <tr class="<%= cycle("even","odd") %>">
    <td><%= stage.name %></td>
    <td>
      <%= link_to 'Zobraziť detaily', stage %>
      <%= link_to 'Upraviť', edit_stage_path(stage) %>
      <%= link_to 'Zmazať', stage, confirm: 'Naozaj chcete nevratne zmazať túto scénu?', method: :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Pridať scénu', new_stage_path %>
