<h1>Listing stages</h1>

<table>
  <tr>
    <th>Názov</th>
    <th></th>
  </tr>

<% @stages.each do |stage| %>
  <tr>
    <td><%= stage.name %></td>
    <td>
      <%= link_to 'Show', stage %>
      <%= link_to 'Edit', edit_stage_path(stage) %>
      <%= link_to 'Destroy', stage, confirm: 'Are you sure?', method: :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Stage', new_stage_path %>
