<!DOCTYPE html>
<html lang="sk"> 
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    
    <title><%= @provider.name %></title>
    <meta name="description" content="Program pre <%= fancy_account_type %> <%= @provider.name %>">
    <meta name="keywords" content="program, kino, festival, program kina, program festivalu, <%= @provider.name %>">
    <meta name="author" content="Michal Valášek">
    <meta name="robots" content="all">
    
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.css" />
    <%= stylesheet_link_tag "cinematik" %>
    
    <link rel="apple-touch-icon" href="/images/touch-icon-iphone.jpg" />
    <link rel="apple-touch-icon" sizes="72x72" href="/images/touch-icon-ipad.jpg" />
    <link rel="apple-touch-icon" sizes="114x114" href="/images/touch-icon-iphone4.jpg" />
    <link rel="apple-touch-startup-image" href="<%= image_path('splashscreen.png') %>" />
    
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28833593-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
</head> 
 
<body>
  
  <div data-role="page" id="one">
    <div data-role="header">
      <%= link_to("Späť", "", 'data-rel'=>'back', 'data-icon'=>'arrow-l', 'data-theme'=>'d') if @show_back_button %>
      
      <h1 style="margin-left:auto;margin-right:auto;"><%= link_to (@provider.nil? ? "ProgramKina.sk" : @provider.name), jqm_root_path, {'data-role'=>"button", 'data-theme'=>"e", 'data-icon'=>"home", 'data-direction'=>"reverse"} %></h1>
      
      <%= yield :header %>
    </div>

    <div data-role="content">
      <%= yield %>
    </div>

    <div data-role="footer">
      <%= yield :footer %>
      <% if controller.is_embed? %>
        <h4>Interaktívny program od programkina.sk</h4>
        <p style="text-align:center;">Program dostupný aj pre mobily na <a href="http://cinematik.programkina.sk" title="Mobilná verzia programu">cinematik.programkina.sk</a></p>
      <% else %>
        <h4>App by ProgramKina.sk</h4>
      <% end %>
    </div>
  </div>
  
  <% unless @provider.notification.blank? %>
  <script type="text/javascript">
  $("<div class='ui-loader ui-overlay-shadow ui-body-a ui-corner-all'><h1>Upozornenie!</h1><h1><%= @provider.notification %></h1></div>")
    .css({ "display":"block", "opacity":0.96, "top": $(window).scrollTop() + 100 })
    .appendTo( $("body") )
    .delay(2500)
    .click(function(){
        $(this).remove();
    });
  </script>
  <% end %>
</body>
</html>