<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="." />
    <meta name="keywords" content="." />

    <title>Kolkominate.sk</title>

    <%= stylesheet_link_tag "public" %>

    <!--[if lt IE 9]>
    <%= stylesheet_link_tag "ie" %>
    <![endif]-->

    <%= javascript_include_tag "public" %>
    <%= csrf_meta_tags %>
</head>

<body>

    <div id="header">
        <h1><a href="#">Kolkominate.sk</a></h1>
        <p><%= link_to "Prihláste sa", sign_in_path %> alebo sa <%= link_to "zaregistrujte", sign_up_path %></p>
    </div>          <!-- #header ends -->

    <div id="content">
      <%= yield %>
    </div>

</body>
</html>
